.green-circle {
    width: 124px;
    height: 124px;
    border-radius: 100%;
    background: $text-secondary;
    margin: 0 auto;
    margin-bottom: 50px;
    padding-top: 25px;
    color: $white;
    font-size: 50px;
}