.header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  .navbar-item {
    &:hover {
      background-color: transparent;
    }
  }

  img {
    max-height: 1.25em;
    margin-bottom : 0;
  }
  .menu {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    ul {
      display: flex;
      font-size: 0.6em;
      li {
        margin-left: 1rem;
        margin-right: 1rem;
        a {
          color: white;
          font-family: "DomaineSansMedium";
          padding-bottom: 5px;
          &:hover {
            border-bottom: 0.5px solid #fff;
          }
        }
      }
    }
    @media screen and (max-width: $mobile-width){
      display: none;
    }
  }
  
  .navbar-btn-group {
    display: flex;
    .navbar-item {
      color: white;
      font-size: 0.6em;
      
      .menu-btn {
        font-size: 1em;
        background: transparent;
        border: none;
        color: $primary-color;
      }
      &:first-of-type {
        padding-left: 0;
        padding-right: 0;
        .menu-btn {
          background: $primary-color;
          color: #fff;
          padding: 0.8rem 1.8rem;
          border: none;
        }
      }
    }
  }
}
.transition-down {
  transition-delay: 1s;
  transition: all 0.3s;
  
}
.transition-up {
  transition: all 0.3s;
}
.menu-2 {
  ul {
    li {
      a {
        color: $text-primary !important;
      }
    }
  }
}