img {
  margin-bottom : 0;
}
.header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #444444;
  display: flex;
  justify-content: space-between;
}
.header-wrapper .img {
   max-height: 1.25em;
}
.menu {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.menu ul {
  display: flex;
  font-size: 0.6em;
}
.menu ul li {
  margin-left: 1rem;
  margin-right: 1rem;
}
.menu ul li a {
  color: white;
  font-family: "DomaineSansMedium";
  padding-bottom: 5px;
  transition: all 0.5s;
}
.menu ul li a:hover {
  border-bottom: 0.5px solid #fff;
}
.header-wrapper .navbar-item {
  color: white;
  font-size: 0.6em;
}
.header-wrapper .navbar-end .navbar-item .menu-btn {
  font-size: 1em;
  background: transparent;
  border: none;
  color: $primary-color;
}
.header-wrapper .navbar-end .navbar-item:first-of-type {
  padding-left: 0;
  padding-right: 0;
}
.header-wrapper .navbar-end .navbar-item:first-of-type .menu-btn {
  background: $primary-color;
  color: #fff;
  padding: 0.8rem 1.8rem;
  border: none;
}