#page_2 {
  position: fixed;
  top: 100%;
  width: 100%;
  height: 100%;
  background: #70BF54;
  .slide-2 {
    .background-image {
      position: fixed;
      top: 10vh;
      left: calc(50vw - 40vh);
      width: 40vh;
      height: 80vh;
      background-image: url(../assets/images/NewDesign/bk-intro-2.png);
      background-size: cover;
      opacity: 0;
      transition: opacity 1s;
      transition-delay: 1s;
      @media screen and (max-width: $mobile-width) {
        background-image: url(../assets/images/NewDesign/bk-intro-2-mobile.jpeg);
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-size: 350%;
        background-position: 60% 35%;
        transition: none;
      }
    }
  }
}