#page_6 {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #464F53;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
  .overlay-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../assets/images/NewDesign/bk-intro-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 75vh;
    height: 75vh;
    mix-blend-mode: screen;
    opacity: 0.4;
    @media screen and (max-width: $mobile-width) {
      width: 50vh;
      height: 50vh;
    }
  }
  .join-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    @media screen and (max-width: $mobile-width) {
      width: 100%;
    }
    h1 {
      text-align: center;
      font-size: 2.5em;
      text-transform: uppercase;
      color: #fff;
      font-family: "DomaineSansMedium";
      letter-spacing: -0.03em;
      max-width: 75%;
      span {
        color: #78CC5A;
      }
      @media screen and (max-width: $mobile-width) {
        max-width: 100%;
      }
    }
    .field {
      width: 50%;
      margin-bottom: 1em;
      @media screen and (max-width: $mobile-width) {
        width: 75%;
      }
      .control {
        .input {
          height: 3em;
        }
        .select.is-small {
          width: 100%;
          select {
            width: 100%;
            height: 3em;
          }
          &::after {
            top: 65%;
          }
        }
        .button {
          width: 100%;
          margin-top: 1em;
          background: #78CC5A;
          color: $white;
          height: 3em;
          border: none;
        }
      }
    }
  }
}