#page_6 {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #464F53;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  .overlay-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../assets/images/NewDesign/bk-intro-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 75vh;
    height: 75vh;
    mix-blend-mode: screen;
    opacity: 0.4;
  }
  
}