#page_2 {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: #70BF54;
  opacity: 0;
  .slide-1 {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    .banner-title {
      width: 100%;
      text-align: center;
      color: #fff;
      font-family: "DomaineSansMedium";
      font-size: 4.8em;
      @media screen and (max-width: $mobile-width){
        text-align: left;
        padding-left: 2rem;
      }
    }
    .desc {
      width: 100%;
      text-align: center;
      font-size: 1em;
      font-family: "DomaineSansMedium";
      color: #3B4145;
      @media screen and (max-width: $mobile-width){
        text-align: left;
        padding-left: 2rem;
        padding-right: 4rem;
        font-size: 2em;
      }
    }
  }
  .slide-2 {
    .background-image {
      position: fixed;
      top: 10vh;
      left: calc(50vw - 40vh);
      width: 40vh;
      height: 80vh;
      background-image: url(../assets/images/NewDesign/bk-intro-2.png);
      background-size: cover;
      opacity: 0;
      transition: opacity 1s;
      transition-delay: 1s;
      @media screen and (max-width: $mobile-width) {
        background-image: url(../assets/images/NewDesign/bk-intro-2-mobile.jpeg);
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-size: 350%;
        background-position: 60% 35%;
        transition: none;
      }
    }
    .topic-3 {
      span {
        font-size: 0.6em;
      }
      img {
        margin: 0;
      }
      .wrapper {
        height: auto;
        h1 span {
          font-size: 1em;
        }
      }
      .img-wrapper {
        display: flex;
        justify-content: space-between;
        img {
          -webkit-box-shadow: 3px 15px 20px -4px rgba(168,168,168,1);
          -moz-box-shadow: 3px 15px 20px -4px rgba(168,168,168,1);
          box-shadow: 3px 15px 20px -4px rgba(168,168,168,1);
        }
        .left-side {
          flex: 1;
          padding-left: 1em;
        }
        .right-side {
          padding: 3rem 1rem 2rem 1rem;
          flex: 1;
          img {
            padding-top: 1em;
          }
        }
      }
    }
  }
}