.breadcrumb-wrapper {
  .breadcrumb {
    ul {
      margin: 0px;

      & > li {
        margin: 0px;

        & > a {
          color: $gray-dark;
          font-weight: 500;
        }

        & + li::before {
          color: $gray;
          content: ">";
        }
      }
    }
  }

  &.container {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}