.foundry-heading {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;

  h4 {
    color: $gray-dark;
    margin: 0px;
    font-family: "DomaineSans", Helvetica, Arial, sans-serif;
    font-weight: normal;
  }
}

.foundry {
  position: relative;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;

  img {
    margin: 0rem;
    object-fit: cover;
    height: 750px;
    width: 100%;
  }

  section.cont {
    position: absolute;
    bottom: 6rem;
    left: 0px;
    width: 100%;

    .column {
      .top-text {
        & > h2 {
          color: $white;
          font-weight: 500;
          font-size: 2.5rem;
          margin-bottom: 4rem;
        }
        & > p {
          color: $gray-dark;
          text-transform: uppercase;
          font-weight: 500;
          font-size: 1.25rem;
        }
      }
      .text {
        background-color: $white;
        padding: 2.75rem 1.75rem 2.75rem 1.75rem;
        border-radius: 0.5rem;

        & > h3 {
          color: $primary-color;
          font-weight: normal;
        }
        & > p {
          color: $gray-dark;
          font-weight: normal;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    img {
      height: 375px;
    }

    section.cont {
      position: static;

      .column {
        .top-text {
          & > h2 {
            color: $black;
          }
        }
        .text {
          padding: 0px;
          border-radius: 0px;
        }
      }
    }
  }
}


.foundry-columns {
  .columns {
    .column.column-item {
      padding: 2.25rem 1.75rem;
      display: block;
      text-align: center;
      margin-bottom: 2rem;

      .icon-style {
        font-size: 4rem;
        color: $gray-dark;
        margin-bottom: 2rem;
      }

      h3 {
        color: $primary-color;
        font-weight: 500;
      }
      
      p {
        color: $gray-dark;
        font-weight: normal;
      }

      button:not(:last-child) {
        margin-right: 0.25rem;
      }
    }
  }

  .thinking-of-joining {
    background-color: $white;
    text-align: center;
    padding: 2rem;
    margin-bottom: 4rem;

    h3 {
      color: $primary-color;
      font-weight: 500;
      max-width: 50%;
      margin: 0rem auto 2rem;
    }
    
    p {
      color: $gray-dark;
      font-weight: normal;
      max-width: 50%;
      margin: 0rem auto 2rem;
    }

    button:not(:last-child) {
      margin-right: 0.25rem;
    }
  }

  .helpful {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;

    .column {
      border-top: 1px solid $gray-border-darker;
      border-bottom: 1px solid $gray-border-darker;
      border-left: 1px solid $gray-border-darker;

      &:first-child {
        border-left: none;
      }

      & > span {
        color: $gray-dark;
        display: inline-block;
        padding: 1.25rem 2.25rem;
      }

      button {
        color: $gray-dark;
        display: inline-block;
        padding: 1.25rem 2.25rem;
        background-color: $transparent;
        border: none;
        outline: none;
        cursor: pointer;

        span {
          color: $gray-dark;
        }

        .icon-style {
          font-size: 1em;
          margin-right: 0.25rem;

          &.thumbs-up {
            color: $success-green;
          }
          &.thumbs-down {
            color: $danger-red;
          }
        }
      }
    }
  }
}