.region-link {
    margin-right: 10px;
}

.level-cards {
    .container {
      background-color: $white;
      padding: 0.5rem 2.5rem 0.5rem 2.5rem;
      @include mobile {
        padding: 0.5rem 0.75rem 0.5rem 0.75rem;
      }
  
      .titles-wrapper {
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
  
        @include mobile {
          margin-top: 1.5rem;
          margin-bottom: 1.5rem;
        }
  
        .column {
          &:last-child {
            @include not-mobile {
              text-align: right;
            }
          }
  
          .title {
            img {
              max-height: 0.75em;
              margin: 0px 0.5rem 0px 0px;
              vertical-align: baseline;
            }
          }
  
          .subtitle {
            margin-top: 1.5rem;
          }
        }
      }
  
      & > button {
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
      }
    }
  }