.header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5em;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  .navbar-item {
    &:hover {
      background-color: transparent;
    }
  }

  img {
    max-height: 2.25em;
    margin-bottom : 0;
  }
  .menu {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    ul {
      display: flex;
      font-size: 0.6em;
      li {
        margin-left: 1rem;
        margin-right: 1rem;
        a {
          color: white;
          font-family: "DomaineSansMedium";
          padding-bottom: 5px;
          font-size: 1.5em;
          transition: all 1s;
          transition-delay: 1s;
          &:hover {
            border-bottom: 0.5px solid #fff;
          }
        }
      }
    }
    &.secondary {
      ul li a {
        color: #000;
      }
    }
    @media screen and (max-width: $mobile-width){
      display: none;
    }
  }
  
  .navbar-btn-group {
    display: flex;
    padding-right: 1rem;
    .navbar-item {
      color: white;
      font-size: 0.8em;
      transition: all 1s;
      display: flex;
      align-items: center;
      
      .menu-btn {
        font-size: 1em;
        background: transparent;
        border: none;
        color: $text-secondary;
        transition: all 1s;
        transition-delay: 1s;

      }
      &:first-of-type {
        padding-left: 0;
        padding-right: 0;
        .menu-btn {
          background:$text-secondary;
          color: #fff;
          padding: 1.4rem 3rem;
          border: none;
          @media screen and (max-width: $mobile-width){
            padding: 0.8rem 0.8rem;
          }
        }
      }
      &:nth-of-type(2) {
        @media screen and (max-width: $mobile-width) {
          display: none;
        }
      }
      &:last-of-type {
        display: none;
        @media screen and (max-width: $mobile-width){
          display: flex;
        }
      }
    }
    &.secondary {
      .navbar-item {
        .menu-btn {
          background: transparent;
          color: $white;
        }
        &:first-of-type {
        padding-left: 0;
        padding-right: 0;
        .menu-btn {
          background: $white;
          color: #000;
          padding: 0.8rem 1.8rem;
          border: none;
          @media screen and (max-width: $mobile-width){
            padding: 0.8rem 0.8rem;
          }
        }
      }
      } 
    }
  }
  .mobile-nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: #3b4145;
    padding-bottom: 3em;
    align-items: start;
    flex-direction: column;
    .mobile-wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 5em;
      .header-btn-group {
        display: flex;
        align-items: center;
        align-self: stretch;
        .menu-btn {
          background: #ffffff;
          color: #000;
          padding: auto 0.8rem;
          border: none;
          font-size: 0.9em;
        }
      }
      .navbar-item {
        color: $white;
        &.close {
          margin-right: 1em;
          display: flex;
          padding: 0 1.5em;
        }
      }
    }
    ul {
      padding-left: 4em;
      li {
        padding: 1em 0;
        a {
          color: $white;
        }
      }
    }
    .visible {
      display: flex;
    }
    .invisible {
      display: none;
    }
  } 
}
.mobile-nav-enter {
  transform: translateY(-100%);
  opacity: 0;
}
.mobile-nav-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: all 1s ease-in;
}
.mobile-nav-enter-done {
  opacity: 1;
  transform: translateY(0);
}
.mobile-nav-exit {
  opacity: 1;
  transform: translateY(0);
}
.mobile-nav-exit-active {
  opacity: 0;
  transform: translateY(-100%);
  transition: all 1s ease-out;
}
.mobile-nav-exit-done {
  opacity: 0;
  transform: translateY(-100%);
}