.speaker {
    h4 {
      color: $primary-color;
      font-size: 1rem;
      margin-bottom: 0.5rem;
    }

    h3 {
      color: $gray-dark;
      font-size: 0.9rem;
      margin: 0px;
      margin-bottom: 0.3333rem;
    }

    p {
      color: $gray-dark;
      font-size: 0.6rem;
      line-height: 2;
    }
  }