.exhibits {
  .exhibit-item {
    .image {
      margin-bottom: 5rem;

      img {
        margin-bottom: 0px;
      }
    }

    p {
      padding: 0px 24px 2rem 50px;
      font-size: 20px;
      line-height: 1.4;
      color: $gray-light;
    }
  }
}