.lpma2018-awards {
    background-color: $secondary-color;
  
    h2 {
      color: $white;
      font-size: 2.2222rem;
      font-family: "DomaineSansMedium",Helvetica, Arial, sans-serif;
      margin-bottom: 1rem;
    }
  
    p {
      color: $white;
      margin-bottom: 1rem;
    }
  }