.titles-wrapper {
    margin-top: 2.5rem;

    &.no-spacing-top {
      margin-top: 0px;
    }

    @include mobile {
      margin-top: 1.5rem;
    }

    .column {
      &:last-child {
        @include not-mobile {
          text-align: right;
        }
      }

      .title {
        margin-bottom: 0px;
        color: $gray-dark;
        font-size: 2rem;
        font-size: 0.6666;
        font-family: Helvetica, Arial, sans-serif;
        font-weight: bold;

        img {
          max-height: 0.75em;
          margin: 0px 0.5rem 0px 0px;
          vertical-align: baseline;
        }
      }

      .subtitle {
        margin-top: 1.5rem;
      }
    }
}