.upcoming-events {
  padding: 4rem 2.75rem;

  & > h3 {
    font-size: 1.7777rem;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2px;
    color: $gray-dark;
    margin-bottom: 6.5rem;
    text-transform: uppercase;
  }
	.event-item {
    border-bottom: 3px solid $primary-color;
    padding-bottom: 1.7rem;

    .event-name {
      padding-top: 1rem;

      h3 {
        color: $primary-color;
        font-size: 1.7777rem;
        font-weight: normal;
        font-style: normal;
        line-height: 2rem;
        height: 4rem;
        margin-bottom: 0rem;
        max-width: 95%;
      }

      p {
        font-size: 1.1111rem;
        font-weight: normal;
        line-height: 1.45;
        color: $gray-light;
        max-width: 95%;
      }
    }

    .event-date {
      padding-top: 1rem;

      h4 {
        color: $gray-light;
        font-size: 1.4444rem;
        font-weight: normal;
        font-style: normal;
        line-height: 2rem;
        height: 4rem;
        margin-bottom: 0rem;
      }
    }

    .event-button {
      padding-top: 5rem;
      text-align: right;

      button {
        margin-top: 4rem;
      }
    }
  }
}