.book-modal {
    .cross {
        position: absolute;
        font-weight: bold;
        font-size: 25px;
        color: #C4C4C4C4;
        top: 20px;
        left: 886px;
        transform: rotate(45deg) !important;
        &:hover {
            cursor: pointer;
        }
    }

    .title {
        position: absolute;
        top: 102px;
        bottom: 258px;
        left: 3px;
        width: 921px;
        font-style: italic;
        font-size: 30px;
        line-height: 36px;
    }

    input {
        position: absolute;
        top: 213px;
        bottom: 146px;
        left: 65px;
        width: 797px;
        background-color: #F2F2F2;
        border: none;
        padding-left: 43px;
    }

    .warning {
        border: 0.5px solid salmon;
    }
    
    a {
        position: absolute;
        top: 311px;
        bottom: 48px;
        left: 338px;
        padding: 10px;
        background-color: #8FBF59;
        color: white;
        font-size: 18px;
        font-style: bold;
        font-family: Lato;
        border-radius: 5px;
        width: 219px;
        height: 50px;
        border: none;
    }
}