.circle-animator {
  width: 80vh;
  height: 80vh;
  position: fixed;
  top: 10vh;
  left: calc(50vw - 40vh);
  border-radius: 50%;
  overflow: hidden;
  .right-overlay {
    position: absolute;
    top: 0;
    left: 50%;
    overflow: hidden;
    width: 50%;
    height: 100%;
    background-color: transparent;
    .right-spin {
      height: 100%;
      width: 100%;
      display: flex;
      overflow: hidden;
      position: absolute;
      transform-origin: left center;
    }
  }
  .left-overlay {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 50%;
    height: 100%;
    background-color: transparent;
    .left-spin {
      position: absolute;
      width: 100%;
      height: 100%;
      background: transparent;
      overflow: hidden;
      transform-origin: right center;
      .inner {
        position: absolute;
        width: 100%;
        height: 100%;
        transform-origin: right center;
        transform: rotate(-180deg);
      }
    }
  }
}
.img-bg {
  position: fixed;
  top: 10vh;
  left: calc(50vw - 40vh);
  width: 40vh;
  height: 80vh;
  opacity: 0;
  transition: opacity 0.5s;
  @media screen and (max-width: $mobile-width) {
    display: none;
  }
}
.mobile-img-bg {
  position: fixed;  
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transition: opacity 0.5s;
  display: none;
  transform: scale(1.8) translate(-6rem, 4.5rem);
  @media screen and (max-width: $mobile-width) {
    display: block;
  }
}
.circle-full-left {
  position: fixed;
  top: 0;
  right: 50vw;
  width: 50vw;
  height: 100vh;
  overflow: hidden;
  .full-left-spin {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform-origin: right center;
    @media screen and (max-width: $mobile-width) {
      display: none;
    }
  }
}
.mobile-left {
  position: fixed;
  top: 0;
  left: 0;
  width: 50vw;
  height: 100vh;
  display: flex;
  background-color: transparent;
  overflow: hidden;
  align-items: center;
  .overlay-spinner {
    position: absolute;
    width: 200vh;
    height: 200vh;
    right: 0;
    transform-origin: right center;
  }
}
.mobile-right {
  position: fixed;
  width: 50vw;
  height: 100vh;
  top: 0;
  right: 0;
  display: flex;
  background-color: transparent;
  overflow: hidden;
  align-items: center;
  .overlay-spinner {
    position: absolute;
    width: 200vh;
    height: 200vh;
    left: 0;
    transform-origin: left center;
  }
}