.blog-post-more {
}

.blog-social-icons {
  padding-top: 0px;
  padding-bottom: 0px;

  .container {
    background-color: $white;

    .wrapper {
      padding: 2rem 5rem;

      @media screen and (max-width: 768px) {
        text-align: center;
        padding: 2rem 1rem;
      }

      .blog-social-icon {
        border: 1px solid $gray-border-dark;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        margin: 0px 0.5rem 1rem;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        line-height: 2rem;
        position: relative;

        &.twitter {
          color: #01ABF0;
        }

        &.facebook {
          color: #3B579B;
        }

        &.linkedin {
          color: #087BB8;
        }

        &.envelope {
          color: #8BCEA1;
        }

        .text {
          color: $black;
          font-size: 0.5rem;
          line-height: 1rem;
          position: absolute;
          top: 100%;
          left: 0px;
          right: 0px;
        }
      }

      .shares-count {
        margin-bottom: 1rem;
        font-weight: bold;
        vertical-align: middle;
        display: inline-block;
      }
    }
  }
}

.blog-content {
  padding-top: 0px;
  padding-bottom: 0px;

  .container {
    background-color: $white;

    .wrapper {
      padding: 2rem 5rem;

      @media screen and (max-width: 768px) {
        padding: 2rem 1rem;
      }
    }
  }
}