.building-blocks-top {
  background-color: $primary-color;
}

.building-blocks-login {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: $white;
}

.building-blocks, .building-blocks-login {
  .title-cont {
    h2 {
      line-height: 3rem;
      color: $primary-color;
      vertical-align: middle;
      margin-right: 2rem;
      margin-bottom: 0px;
      display: inline-block;
    }
    span {
      line-height: 3rem;
      vertical-align: middle;
    }
  }
}

.building-blocks {
  .title-cont {
    margin-bottom: 2rem;
  }

  .tool-item {
    background-color: $white;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    color: #4A4F53;
    padding: 1rem;

    &:hover {
      color: $primary-color;
    }

    span {
      svg {
        @include wrap-image(100%, 100%)
     }
    }

    p {
      text-align: center;
    }
  }
}

.building-blocks-bottom {
  background-color: $secondary-color;
}