.exhibits {
  margin-bottom: 5.25rem;

  .exhibit-item {
    .image {
      img {
        margin-bottom: 0rem;
      }
    }

    > span.content {
      display: inline-block;
      padding: 5rem 2.75rem 5rem 2.75rem;
      font-size: 1.1111rem;
      line-height: 1.4;
      color: $gray-light;
    }
  }
}