@keyframes fade-in-down {
  from { opacity: 0; transform: translate(0, -30px); }
  to   { opacity: 1; transform: translate(0, 0); }
}

.fade-in-down {
  animation-name: fade-in-down;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes fade-in-up {
  from { opacity: 0; transform: translate(0, 30px); }
  to   { opacity: 1; transform: translate(0, 0); }
}

.fade-in-up {
  animation-name: fade-in-up;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}


@keyframes fade-out-up {
  from { opacity: 1; transform: translate(0, 0); }
  to   { opacity: 0; transform: translate(0, -30px); }
}

.fade-out-up {
  animation-name: fade-out-up;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes fade-out-down {
  from { opacity: 1; transform: translate(0, 0); }
  to   { opacity: 0; transform: translate(0, 50px); }
}

.fade-out-down {
  animation-name: fade-out-down;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes rotateTo360 {
  0% { transform: rotate(0); }
  33% { transform: rotate(180deg);}
  67% { transform: rotate(180deg);}
  100% { transform: rotate(360deg);}
}
.rotateTo360 {
  animation-name: rotateTo360;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
@keyframes scrollCTRIn {
  0% { opacity: 1; }
  50% { opacity: 0; transform: translateX(50px); }
  100% { opacity: 1; transform: translateX(100px);}
}
.scrollCTRIn {
  animation-name: scrollCTRIn;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  @media screen and (max-width: $mobile-width) {
    animation-name: scrollCTRMobile;
  }
}
@keyframes scrollCTROut {
  0% { opacity: 1; transform: translateX(100px);}
  50% { opacity: 0; transform: translateX(50px); }
  100% { opacity: 1; transform: translateX(0);}
}
@keyframes scrollCTRMobile {
  0% { opacity: 1; }
  50% { opacity: 0;  }
  100% { opacity: 1; }
}
.scrollCTROut {
  animation-name: scrollCTROut;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  @media screen and (max-width: $mobile-width) {
    animation-name: scrollCTRMobile;
  }
}
.delay-1 {
  animation-delay: 0.5s;
}

.fade-up-enter {
  opacity: 0;
  transform: translateY(30px);
}
.fade-up-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 1s;
  transition-delay: 0.5s;
}
.fade-up-enter-done {
  opacity: 1;
  transform: translateY(0);
}
.fade-up-exit {
  opacity: 1;
  transform: translateY(0);
}
.fade-up-exit-active {
  opacity: 0;
  transform: translateY(-30px);
  transition: all 1s;
}
.fade-up-exit-done {
  opacity: 0;
  transform: translateY(-30px);
}
.fade-up-enter-active-initial {
  opacity: 1;
  transform: translateY(0);
  transition: all 1s;
}

.clockwise-left-enter {
  transform: rotate(0);
}
.clockwise-left-enter-active {
  transform: rotate(180deg);
  transition: transform 0.5s linear;
}
.clockwise-left-enter-done {
  transform: rotate(180deg);
}
.clockwise-left-exit {
  transform: rotate(180deg);
}
.clockwise-left-exit-active {
  transform: rotate(0);
  transition: transform 0.5s linear;
}
.clockwise-left-exit-done {
  transform: rotate(0);
}

.clockwise-right-enter {
  transform: rotate(-180deg);
}
.clockwise-right-enter-active {
  transform: rotate(0);
  transition: transform 0.5s linear;
}
.clockwise-right-enter-done {
  transform: rotate(0);
}
.clockwise-right-exit {
  transform: rotate(0);
}
.clockwise-right-exit-active {
  transform: rotate(-180deg);
  transition: transform 0.5s linear;
}
.clockwise-right-exit-done {
  transform: rotate(-180deg);
}

@keyframes spinInnerIn {
  0% {transform: rotate(-165deg);}
  20% {transform: rotate(-80deg);}
  40% {transform: rotate(-80deg);}
  60% {transform: rotate(-70deg);}
  80% {transform: rotate(-135deg);}
  100% {transform: rotate(-180deg);}
}
.spinInnerIn {
  animation-name: spinInnerIn;
  animation-duration: 0.8s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}