.btn {
  background-color: $gray-lighter;

  cursor: pointer;
  outline: none;
  height: 3.3333rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;

  box-sizing: border-box;
  border-width: 0px;
  border-style: solid;

  white-space: nowrap;

  line-height: 1.6666rem;
  font-size: 1.3333rem;
  text-align: left;

  vertical-align: middle;

  -webkit-transition: all 100ms ease-out;
  transition: all 100ms ease-out;

  &.primary {
    border-color: $primary-color;
    background-color: $primary-color;
    color: $primary-color;
  }

  &.secondary {
    border-color: $secondary-color;
    background-color: $secondary-color;
    color: $secondary-color;

    &:hover {
      background-color: $primary-color;
    }
  }

  &.outlined {
    background-color: $white;
    border-width: 2px;
  }

  &:not(.outlined) {
    color: $white;
  }

  &.fullwidth {
    min-width: 100%;
  }

  &.threequarterwidth {
    min-width: 75%;
  }

  &.halfwidth {
    min-width: 50%;
  }

  &.onequarterwidth {
    min-width: 25%;
  }

  &.with-radius-5 {
    border-radius: 5px;
  }

  &.smaller {
    height: 2.7777rem;
    font-size: 1rem;
  }

  &.smallest {
    height: 2rem;
    font-size: 0.75rem;
  }

  &.transparent {
    background-color: $transparent;
  }

  &.smaller-text {
    font-size: 1rem;

    &.smaller {
      font-size: 0.75rem;
    }
  }

  &.centered {
    text-align: center;
  }
}

.inp {
  background-color: $gray-lighter;
  color: $gray-dark;

  cursor: pointer;
  outline: none;
  height: 3.3333rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;

  box-sizing: border-box;
  border-width: 0px;
  border-style: solid;

  white-space: nowrap;

  line-height: 1.6666rem;
  font-size: 1.3333rem;
  text-align: left;

  vertical-align: middle;

  &::placeholder {
    color: #c3c0c0;
    opacity: 1;
  }
}