.btn {
  background-color: $gray-lighter;

  cursor: pointer;
  outline: none;
  height: 60px;
  padding-left: 1.2rem;
  padding-right: 1.2rem;

  box-sizing: border-box;
  border-width: 0px;
  border-style: solid;

  white-space: nowrap;

  line-height: 30px;
  font-size: 1.3333rem;
  text-align: left;

  vertical-align: middle;

  &.primary {
    border-color: $primary-color;
    background-color: $primary-color;
    color: $primary-color;
  }

  &.secondary {
    border-color: $secondary-color;
    background-color: $secondary-color;
    color: $secondary-color;
  }

  &.outlined {
    background-color: $white;
    border-width: 2px;
  }

  &:not(.outlined) {
    color: $white;
  }

  &.fullwidth {
    min-width: 100%;
  }

  &.threequarterwidth {
    min-width: 75%;
  }

  &.halfwidth {
    min-width: 50%;
  }

  &.with-radius-5 {
    border-radius: 5px;
  }

  &.smaller {
    height: 50px;
    font-size: 1rem;
  }

  &.transparent {
    background-color: $transparent;
  }
}

.inp {
  background-color: $gray-lighter;
  color: $gray-dark;

  cursor: pointer;
  outline: none;
  height: 60px;
  padding-left: 1.2rem;
  padding-right: 1.2rem;

  box-sizing: border-box;
  border-width: 0px;
  border-style: solid;

  white-space: nowrap;

  line-height: 30px;
  font-size: 1.3333rem;
  text-align: left;

  vertical-align: middle;

  &::placeholder {
    color: #c3c0c0;
    opacity: 1;
  }
}


@media screen and (max-width: 768px) {
  .btn, .inp {
    height: 40px;

    &.smaller {
      height: 30px;
      line-height: 20px;
    }
  }
}