.btn {
  cursor: pointer;
  outline: none;
  height: 60px;
  padding-left: 21px;
  padding-right: 21px;

  box-sizing: border-box;
  border-width: 0px;
  border-style: solid;

  line-height: 30px;
  font-size: 24px;
  text-align: left;
}

.btn.primary {
  border-color: $primary-color;
  background-color: $primary-color;
  color: $primary-color;
}

.btn.secondary {
  border-color: $secondary-color;
  background-color: $secondary-color;
  color: $secondary-color;
}

.btn.outlined {
  background-color: $white;
  border-width: 2px;
}

.btn:not(.outlined) {
  color: $white;
}

.btn.fullwidth {
  min-width: 100%;
}

.btn.halfwidth {
  min-width: 50%;
}