.btn {
  //FROM BULMA
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  ////////////


  background-color: $gray-lighter;

  cursor: pointer;
  outline: none;
  height: 3.3333rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;

  box-sizing: border-box;
  border-width: 0px;
  border-style: solid;

  white-space: nowrap;

  line-height: 1.6666rem;
  font-size: 1.3333rem;
  text-align: left;

  vertical-align: middle;

  -webkit-transition: all 100ms ease-out;
  transition: all 100ms ease-out;

  &.primary {
    border-color: $primary-color;
    background-color: $primary-color;
    color: $primary-color;
  }

  &.secondary {
    border-color: $secondary-color;
    background-color: $secondary-color;
    color: $secondary-color;

    &:hover {
      background-color: $primary-color;
    }
  }

  &.default {
    border-color: $gray-dark;
    background-color: $gray-lighter;
    color: $gray-dark !important;
  }

  &.outlined {
    background-color: $white;
    border-width: 2px;
  }

  &:not(.outlined) {
    color: $white;
  }

  &.smallest {
    height: 2rem;
    font-size: 0.75rem;
  }

  &.transparent {
    background-color: $transparent;
  }
}

.inp {
  background-color: $gray-lighter;
  color: $gray-dark;

  cursor: pointer;
  outline: none;
  height: 3.3333rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;

  box-sizing: border-box;
  border-width: 0px;
  border-style: solid;

  white-space: nowrap;

  line-height: 1.6666rem;
  font-size: 1.3333rem;
  text-align: left;

  vertical-align: middle;

  &::placeholder {
    color: #c3c0c0;
    opacity: 1;
  }

  &.bordered {
    border: 1px solid $gray-border-darkerer;
  }
}

.btn, .inp {
  &.larger {
    height: 5rem;
  }

  &.smaller {
    height: 2.7777rem;
    font-size: 1rem;
  }

  &.shadow {
    box-shadow: 0px 2px 2px $gray;
    -webkit-box-shadow: 0px 2px 2px $gray;
  }

  &.with-radius-5 {
    border-radius: 5px;
  }

  &.with-radius-half-rem {
    border-radius: 0.5rem;
  }

  &.thirdwidth {
    min-width: 33.3333%;
  }

  &.halfwidth {
    min-width: 50%;
  }

  &.fullwidth {
    min-width: 100%;
  }

  &.threequarterwidth {
    min-width: 75%;
  }

  &.onequarterwidth {
    min-width: 25%;
  }

  &.centered {
    text-align: center;
  }

  &.smaller-text {
    font-size: 1rem;

    &.smaller {
      font-size: 0.75rem;
    }
  }
}