.btn {
  background-color: $gray-lighter;

  cursor: pointer;
  outline: none;
  height: 60px;
  padding-left: 1.2rem;
  padding-right: 1.2rem;

  box-sizing: border-box;
  border-width: 0px;
  border-style: solid;

  white-space: nowrap;

  line-height: 30px;
  font-size: 1.3333rem;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .btn {
    height: 40px;
  }
}

.btn.primary {
  border-color: $primary-color;
  background-color: $primary-color;
  color: $primary-color;
}

.btn.secondary {
  border-color: $secondary-color;
  background-color: $secondary-color;
  color: $secondary-color;
}

.btn.outlined {
  background-color: $white;
  border-width: 2px;
}

.btn:not(.outlined) {
  color: $white;
}

.btn.fullwidth {
  min-width: 100%;
}

.btn.halfwidth {
  min-width: 50%;
}


.inp {
  background-color: $gray-lighter;
  color: $gray-dark;

  cursor: pointer;
  outline: none;
  height: 60px;
  padding-left: 1.2rem;
  padding-right: 1.2rem;

  box-sizing: border-box;
  border-width: 0px;
  border-style: solid;

  white-space: nowrap;

  line-height: 30px;
  font-size: 1.3333rem;
  text-align: left;

  &::placeholder {
    color: #c3c0c0;
    opacity: 1;
  }
}