@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin not-mobile {
  @media (min-width: #{$mobile-width + 1px}) {
    @content;
  }
}

@mixin truncate($lines) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.5;

  -webkit-line-clamp: $lines;
  height: $lines * 1.5rem;
}

@mixin cover-image($width: 100%, $height: auto, $vPos: center) {
  width: $width;
  height: $height;
  overflow: hidden;

  img {
    margin: 0rem;
    object-fit: cover;
    object-position: $vPos;

    height: $height;
    width: $width;
  }

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    overflow: hidden;
    display: flex;
    align-items: $vPos;

    @if $vPos == top {
      align-items: flex-start;
    }

    @if $vPos == bottom {
      align-items: flex-end;
    }
    

    img {
      height: auto;
      min-width: 100%;
      min-height: 100%;
    }
  }
}