$font-path:   "/static/";

@font-face {
  font-family: "DomaineSansMedium";
  src: url($font-path + "DomaineSansText-Medium.otf" ) format("opentype");
}

@font-face {
  font-family: "DomaineSans";
  src: url("/../assets/fonts/DomaineSansText-Regular.otf?") format("otf");
}

body {
  font-family: 'DomaineSans';
}