$white: #ffffff;
$black: #000000;
$transparent: rgba(0, 0, 0, 0);

$primary-color: #6EBF56;
$secondary-color: #464F53;


$gray-dark: #4a4a4a;
$gray: #c4c4c4;
$gray-light: #7c7c7c;
$gray-lighter: #f8f6f6;
$gray-lighterer: #f9f9f9;

$gray-border: #f1f1f1;
$gray-border-dark: #e8e8e8;
$gray-border-darker: #dbdbdb;
$gray-border-darkerer: #979797;

$navbar-font-size: 18px;


$steps-menu-border: #e0e0e0;
$steps-menu-bg: #f5f5f5;


$success-green: #27AE60;
$danger-red: #EB5757;

$text-primary: #3B4145;