@import "variables";
@import "typography";
@import "animations";

::-webkit-scrollbar { 
  display: none;
}
ul, li {
  margin: 0;
}
.landing-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.pricing-section {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: scroll;
}

.scroll-bar {
  position: fixed;
  bottom: 3vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  .scroll-control {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: rgba(255,255,255, 0.2);
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    &.light {
      background-color: rgba(0,0,0, 0.1);
      &:hover {
        background-color: rgba(0, 0, 0, 0.3);
      }
    }
    i {
      font-size: 1.6em;
    }
    &:hover {
      background-color: #fff;
    }
  }
}
.hide {
  opacity: 0;
}
.show {
  opacity: 1;
}