@import "variables";
@import "typography";
@import "animations";

ul, li {
  margin: 0;
}
.page {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
#page_1 {
  position: relative;
  background-color: #464F53;
  height: 100vh;

  .overlay-image {
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    background-image: url(../assets/images/NewDesign/bk-intro-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 75vw;
    height: 75vh;
    mix-blend-mode: screen;
    opacity: 0.4;
  }
  z-index: 0;
}
#page_2 {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: #70BF54;
  opacity: 0;
}
.position-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.animating-title {
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  opacity: 0;
  color: #fff;
  font-family: "DomaineSansMedium";
  font-size: 3.3em;
  letter-spacing: -0.03em;
}
.intro-title {
  position: fixed;
  margin: 0 20vw;
  max-width: 60vw;
  margin-top: calc((100vh - (1.1em *4))/2);
  span {
    color: $primary-color;
  }
}
.intro-title-2 {
  min-width: 100%;
  margin: 0;
  margin-top: calc((100vh - (1.2em *2))/2);
}
.reason-bar {
  height: 5px;
  width: 40vw;
  margin: 0 30vw;
  background: transparent;
  position: fixed;
  top: 60vh;
  display: flex;
  opacity: 0;
  justify-content: space-between;
  .bar {
    align-self: stretch;
    width: 14vh;
    
  }
  .item-1 {
    background: #70BF54;
  }
  .item-2 {
    background: #93D6E3;
  }
  .item-3 {
    background: #F0BC69;
  }
  .item-4 {
    background: #E59381;
  }
}
.bottom-instruction {
  bottom: 5vh;
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  top: auto;
  width: 100%;
}
.section2-title {
  top: 0;
  left: 0;
  margin-top: calc(50vh - 1.1em);
  width: 100%;
  text-align: center;
  font-size: 4.8em;
}
.section2-text {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin-top: 62vh;
  opacity: 0;
  font-size: 1em;
  color: #3B4145;
}
.section3-wrapper {
  width: 80vh;
  height: 80vh;
  position: fixed;
  top: 10vh;
  left: calc(50vw - 40vh);
  border-radius: 50%;
  overflow: hidden;
  .overlay-1 {
    height: 100%;
    width: 50%;
    display: flex;
    overflow: hidden;
    position: absolute;
    transform-origin: right center;
    opacity: 0;
    background: #78CC5A;
  }
  .overlay-2 {
    width: 50%;
    position: absolute;
    height: 100%;
    background: #70bf54;
    opacity: 0;
    &.show {
      opacity: 1;
    }
    &.hide {
      opacity: 0;
    }
  }
  .overlay-3 {
    position: absolute;
    width: 50%;
    height: 100%;
    background: transparent;
    overflow: hidden;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    transform-origin: right center;
    transform: rotate(0deg);
    .inner {
      position: absolute;
      width: 100%;
      height: 100%;
      background:#78CC5A;
      transform-origin: right center;
      transform: rotate(-180deg);
    }
  }
  .overlay-4 {
    position: absolute;
    width: 50%;
    height: 100%;
    background: #70bf54;
    overflow: hidden;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    transform-origin: right center;
    transform: rotate(0deg);
    opacity: 0;
    .inner {
      position: absolute;
      width: 100%;
      height: 100%;
      background: transparent;
      transform-origin: right center;
      transform: rotate(-180deg);
    }
  }
  .overlay-5 {
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: transparent;
    background-size: cover;
    background-image: url(../assets/images/NewDesign/bk-intro-2.png);
    opacity: 0;
    &.show {
      opacity: 1;
    }
    &.hide {
      opacity: 0;
    }
  }
}
@import "./components/header.scss";

