.contact-cont {
  background-color: $primary-color;

  form {
    margin: 0 0 2rem;
  }

  button {
    margin-top: 1rem !important;
    height: 3rem !important;
    min-width: 10rem !important;
    &:hover {
      background-color: #81d269
    }
  }
}