.member-benefits {
  h3 {
    color: $gray-dark;
    font-size: 32px;
    font-family: "DomaineSansMedium";
    margin-bottom: 2rem;
  }

  .benefit-item {
    position: relative;

    img {
      position: absolute;
      left: 18px;
      top: 5px;
      width: 48px;
      height: 48px;
      margin: 0px;
    }

    .cont {
      margin-left: 72px;

      h4.text-title {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: $primary-color;
        font-size: 26px;
        font-weight: normal;
        text-transform: initial;
      }

      p.text {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: $gray-light;
        font-size: 18px;
      }
    }
  }

  @media screen and (min-width: 769px) {
    .benefit-item {
      &:nth-child(odd) {
        border-right: 3px solid $primary-color;
      }
    }
  }
}