.bottom {
  position: relative;

  img {
    margin: 0rem;
    object-fit: cover;
    height: 316px;
  }

  @media screen and (max-width: 768px) {
    img {
      height: 158px;
    }
  }

  .wrapper {
    padding: 0px;
    position: absolute;
    width: 100%;
    top: 0rem;
    left: 0rem;
    height: 100%;
    display: flex;
    align-items: center;

    .column {
      padding: 0rem 2.75rem 0rem !important;

      p {
        padding-left: 3.1111rem;
        border-left: 3px solid $primary-color;
        font-size: 2.6666rem;
        line-height: normal;
        color: $white;
        margin-bottom: 0px;
      }

      button {
        margin-top: 0rem;
      }
    }

    @media screen and (max-width: 768px) {
      .column {
        padding-top: 1.2rem !important;

        &:last-child {
          padding-top: 0.6rem !important;
        }

        p {
          font-size: 1.5rem;
          margin-bottom: 1rem;
        }
      }
    }
  }
}