.bottom {
  position: relative;

  img {
    margin-bottom: 0rem;
  }

  .wrapper {
    position: absolute;
    width: 100%;
    top: 0rem;
    left: 0rem;

    p {
      border-left: 3px solid $primary-color;
      padding-left: 3rem;
      font-size: 2.6666rem;
      color: $white;
    }
  }
}