.foundry-heading {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;

  h4 {
    color: $gray-dark;
    margin: 0px;
    font-family: "DomaineSans", Helvetica, Arial, sans-serif;
    font-weight: normal;
  }
}

.foundry {
  position: relative;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;

  .image-wrapper {
    @include cover-image(100%, 1000px, right);

    @include mobile {
      @include cover-image(100%, 0px, right);
    }
  }

  .loader-wrapper {
    margin: 0 auto;
  }

  section.cont {
    position: absolute;
    bottom: 6rem;
    left: 0px;
    width: 100%;

   .column {
      .top-text {
        & > h2 {
          color: #70BE5B;
          font-weight: 500;
          font-size: 2.5rem;
          margin-bottom: 4rem;
        }
        & > p {
          color: $gray-dark;
          text-transform: uppercase;
          font-weight: 500;
          font-size: 1.25rem;
        }
      }
      .text {
        background-color: $white;
        padding: 2.75rem 1.75rem 2.75rem 1.75rem;
        border-radius: 0.5rem;

        & > h3 {
          color: $primary-color;
          font-weight: normal;
        }
        & > div {
          color: $gray-dark;
          font-weight: normal;
          margin-bottom: 0px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .foundry {
    section.cont {
      position: static;

      .column {
        .top-text {
          & > h2 {
            color: $black;
          }
        }
        .text {
          padding: 1.75rem 0.75rem 1.75rem 0.75rem;
        }
      }
    }
  }
}


.foundry-columns {
  .columns {
    .column-item {
      padding: 2rem 1.5rem;
      background-color: $white;

      h3 {
        color: $primary-color;
        font-weight: 500;
        font-size: 1.25rem;
      }
      
      p {
        color: $gray-dark;
        font-weight: normal;
        font-size: 1rem;
      }
    }
  }
}

.foundry-video {
  .title, p {
    color: $gray-dark;
  }
}