#landing-section {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #464F53;
  height: 100vh;
  .overlay-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 75vh;
    height: 75vh;
    background-image: url(../../assets/images/NewDesign/bk-intro-1.png);
    @media screen and (max-width: $mobile-width) {
      width: 50vh;
      height: 50vh;
    }
  }
  .slide-1 {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    opacity: 0;
    .banner-title {
      margin: 0 auto;
      max-width: 60vw;
      color: #fff;
      font-family: "DomaineSansMedium";
      font-size: 4.5em;
      text-align: center;
      letter-spacing: -0.03em;
      span {
        color: $primary-color;
      }
      @media screen and (max-width: $xl-width) {
        font-size: 3em;
      }
    }
    .scroll-instruction {
      position: absolute;
      bottom: 5vh;
      text-align: center;
      font-size: 18px;
      line-height: 26px;
      top: auto;
      width: 100%;
      color: #fff;
      font-family: "DomaineSansMedium";
      @media screen and (max-width: $mobile-width) {
        display: none;
      }
    }
  }
  .slide-2 {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    .banner-title {
      width: 100%;
      text-align: center;
      color: #fff;
      font-family: "DomaineSansMedium";
      font-size: 4.5em;
      letter-spacing: -0.03em;
      @media screen and (max-width: $xl-width) {
        font-size: 3em;
      }
    }
    .reason-bar {
      height: 5px;
      width: 40vw;
      margin: 0 30vw;
      background: transparent;
      display: flex;
      justify-content: space-between;
      .bar {
        align-self: stretch;
        width: 14vh;
        
      }
      .item-1 {
        background: #70BF54;
      }
      .item-2 {
        background: #93D6E3;
      }
      .item-3 {
        background: #F0BC69;
      }
      .item-4 {
        background: #E59381;
      }
      @media screen and (max-width: $mobile-width) {
        display: none;
      }
    }
  }
}
.full-page-enter {
  background-color: #464F53;
}
.full-page-enter-active {
  background-color: #70BF54;
  transition: background-color 0.5s ease-in;
}
.full-page-enter-done {
  background-color: #70BF54;
}
.full-page-exit {
  background-color: #70BF54;
}
.full-page-exit-active {
  background-color: #464F53;
  transition: background-color 0.5s ease-out;
}
.full-page-exit-done {
  background-color: #464F53;
}
