#landing-section {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #464F53;
  height: 100vh;
  .overlay-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 75vh;
    height: 75vh;
    background-image: url(../../assets/images/NewDesign/bk-intro-1.png);
    @media screen and (max-width: $mobile-width) {
      width: 50vh;
      height: 50vh;
    }
  }
  .slide-1 {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    .banner-title {
      margin: 0 auto;
      max-width: 60vw;
      color: #fff;
      font-family: "DomaineSansMedium";
      font-size: 4.5em;
      text-align: center;
      letter-spacing: -0.03em;
      span {
        color: $primary-color;
      }
      @media screen and (max-width: $xl-width) {
        font-size: 3em;
      }
    }
    .scroll-instruction {
      position: absolute;
      bottom: 5vh;
      text-align: center;
      font-size: 18px;
      line-height: 26px;
      top: auto;
      width: 100%;
      color: #fff;
      font-family: "DomaineSansMedium";
      @media screen and (max-width: $mobile-width) {
        display: none;
      }
    }
  }
  .slide-2 {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    .banner-title {
      width: 100%;
      text-align: center;
      color: #fff;
      font-family: "DomaineSansMedium";
      font-size: 4.5em;
      letter-spacing: -0.03em;
      @media screen and (max-width: $xl-width) {
        font-size: 3em;
      }
    }
    .step-bar {
      height: 5px;
      margin: 2rem 30vw;
      background: transparent;
      display: flex;
      justify-content: space-between;
      text-align: center;
      color: #fff;
      .step-item {
        border-top-width: 5px;
        border-top-style: solid;
        align-self: stretch;
        width: 8em;
        margin: 0 2em;
        cursor: pointer;
        &:hover {
          .hint {
            opacity: 1;
          }
        }
        .hint {
          opacity: 0;
          transition: all 1s;
          h5, p {
            margin: 0;
          }
          h5 {
            font-family: "DomaineSansMedium";
            line-height: 2em;
          }
          p {
            font-size: 0.9em;
            text-transform: uppercase;
          }
        }
      }
      @media screen and (max-width: $mobile-width) {
        display: none;
      }
    }
  }
}
.full-page-enter {
  background-color: #464F53;
}
.full-page-enter-active {
  background-color: #70BF54;
  transition: background-color 0.5s ease-in;
}
.full-page-enter-done {
  background-color: #70BF54;
}
.full-page-exit {
  background-color: #70BF54;
}
.full-page-exit-active {
  background-color: #464F53;
  transition: background-color 0.5s ease-out;
}
.full-page-exit-done {
  background-color: #464F53;
}
