.testimonials {
  h3 {
    color: $gray-dark;
    font-size: 32px;
    font-family: "DomaineSansMedium";
    margin-bottom: 4rem;
    padding-left: 1.5rem;
  }

  .testimonial-item {
    .text-cont {
      display: inline-block;
      padding-left: 1.5rem;
      width: 65%;

      p {
        font-size: 26px;
      }

      p.text-p {
        color: $gray-light;
        width: 90%;
      }

      p.name-p {
        color: $primary-color;
      }
    }
    .img-cont {
      display: inline-block;
      width: 35%;
      text-align: center;

      img {
        border-radius: 50%;
        width: 90%;
        height: 90%;
        max-width: 90%;
        max-height: 90%;
      }
    }
  }

  @media screen and (min-width: 769px) {
    .testimonial-item {
      &:nth-child(odd) {
        border-right: 3px solid $primary-color;
      }
    }
  }
}