.resources {
  padding: 2.75rem;

  p.top-p {
    font-size: 2rem;
    font-weight: normal;
    color: $gray-light;
    margin: 1rem 0rem 6.75rem 0rem;
    line-height: normal;
  }

  @media screen and (min-width: 1008px) {
    p.top-p {
      width: 50%;
    }
  }

  .column.resource-item {
    border-top: 3px solid $primary-color;
    padding: 5.5rem 3rem 2.5rem 0rem !important;

    h3 {
      margin-bottom: 2.5rem;
      font-size: 1.4444rem;
      color: $primary-color;
      font-weight: normal;
    }

    .image {
      margin-bottom: 5rem;

      img {
        margin-bottom: 0rem;
      }
    }

    p {
      font-size: 1.1111rem;
      line-height: 1.45;
      color: $gray-light;
      margin-bottom: 2rem;
    }
  }
}