.lpma2018-top-jumbotron {
  background-color: $primary-color;
  overflow: hidden;
  position: relative;
  height: 36rem;
  padding: 0px;

  .video-cont {
    left: 0px;
    top: 0px;
    width: 100%;
    height: 10000px;
    position: absolute;

    span {
      position: relative;
      display: block;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 10000px;

      .video-frame {
        left: 0px;
        top: -50%;
        width: 100%;
        height: 10000px;
        position: absolute;
        margin-top: 300px;
      }
    }
  }

  .video-cont-cover {
    background-color: $transparent;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    position: absolute;
  }

  .video-cont-data {
    h2 {
      color: $white;
      font-size: 1.5rem;
      font-weight: 500;
      margin-bottom: 2rem;
      margin-top: 4rem;
    }

    strong {
      color: $white;
      font-size: 1rem;
      display: block;
      margin-bottom: 2rem;
    }

    img {
      margin-bottom: 2rem;
    }
  }
}

.lpma2018-graph {
  background-color: $white;

  .container {
    max-width: 900px;
    padding-top: 2rem;

    h1 {
      color: $primary-color;
      font-size: 2.75rem;
      font-family: "DomaineSansMedium",Helvetica, Arial, sans-serif;
    }

    p {
      color: $gray-dark;
      font-size: 1rem;
    }
  }
}

.lpma2018-info {
  position: relative;

  @-webkit-keyframes LEFT_SIDE_SHIFT {
    0%   { margin-left: -50%; }
    100% { margin-left: 0%; }
  }
  @-moz-keyframes LEFT_SIDE_SHIFT {
    0%   { margin-left: -50%; }
    100% { margin-left: 0%; }
  }
  @-o-keyframes LEFT_SIDE_SHIFT {
    0%   { margin-left: -50%; }
    100% { margin-left: 0%; }
  }
  @keyframes LEFT_SIDE_SHIFT {
    0%   { margin-left: -50%; }
    100% { margin-left: 0%; }
  }

  @-webkit-keyframes RIGHT_SIDE_SHIFT {
    0%   { margin-left: 100%; }
    100% { margin-left: 0%; }
  }
  @-moz-keyframes RIGHT_SIDE_SHIFT {
    0%   { margin-left: 100%; }
    100% { margin-left: 0%; }
  }
  @-o-keyframes RIGHT_SIDE_SHIFT {
    0%   { margin-left: 100%; }
    100% { margin-left: 0%; }
  }
  @keyframes RIGHT_SIDE_SHIFT {
    0%   { margin-left: 100%; }
    100% { margin-left: 0%; }
  }


  .columns {
    overflow-x: hidden;

    .left-side {
      -webkit-animation: LEFT_SIDE_SHIFT 1500ms 1;
      -moz-animation:    LEFT_SIDE_SHIFT 1500ms 1;
      -o-animation:      LEFT_SIDE_SHIFT 1500ms 1;
      animation:         LEFT_SIDE_SHIFT 1500ms 1;
    }

    .right-side {
      -webkit-animation: RIGHT_SIDE_SHIFT 1500ms 1;
      -moz-animation:    RIGHT_SIDE_SHIFT 1500ms 1;
      -o-animation:      RIGHT_SIDE_SHIFT 1500ms 1;
      animation:         RIGHT_SIDE_SHIFT 1500ms 1;
    }

    p.header {
      color: $gray-dark;
      font-size: 2.5rem;
      font-weight: 700;
      margin-bottom: 2rem;
    }

    p.text {
      color: $gray-dark;
      font-size: 1rem;
      margin-bottom: 2rem;
    }

    img {
      height: auto;
      max-width: 100%;
    }
  }
}

.lpma2018-columns {
  background-color: $secondary-color;

  h3 {
    color: $white;
    font-size: 1.5555rem;
    font-family: "DomaineSansMedium",Helvetica, Arial, sans-serif;
  }

  p {
    color: $white;

    &.meta {
      font-family: "DomaineSansMedium",Helvetica, Arial, sans-serif;
    }
  }

  a {
    color: $white;
    text-decoration: underline;
  }
}

.lpma2018-agenda {
  background-color: $white;

  h2 {
    color: $gray-dark;
    font-size: 2.2222rem;
    text-transform: uppercase;
    font-family: "DomaineSansMedium",Helvetica, Arial, sans-serif;
    margin-bottom: 2rem;
  }

  p {
    color: $gray-dark;
    margin-bottom: 1rem;
  }

  .event-types {
    margin-bottom: 1.25rem;

    span.event-type {
      color: $gray-dark;
      margin: 0px 1.75rem;
      font-weight: bold;
      display: inline-block;
    }
  }

  .event-dates {
    button {
      margin: 0.25rem 0.5rem;
      color: $secondary-color;
    }
  }

  .events-list {
    margin-top: 5rem;

    .event-item {
      border-top: 1px solid $gray-border-darkerer;
      .column {
        @media screen and (min-width: 769px) {
          padding: 2.2222rem;
        }

        p.event-time {
          font-size: 1.1111rem;
          color: $gray-dark;
        }

        p.event-desc {
          font-size: 1.1111rem;
          color: $gray-dark;

          span.green {
            color: $primary-color;
            font-weight: bold;
          }

          span.bold {
            font-weight: bold;
          }
        }
      }
    }
  }
}


.lpma2018-our-speakers {
  h2 {
    color: $gray-dark;
    font-size: 2.2222rem;
    text-transform: uppercase;
    font-family: "DomaineSansMedium",Helvetica, Arial, sans-serif;
    margin-bottom: 2rem;
  }

  p {
    color: $gray-dark;
    margin-bottom: 1rem;
  }

  .speaker {
    h4 {
      color: $primary-color;
      font-size: 1rem;
      margin-bottom: 0.5rem;
    }

    h3 {
      color: $gray-dark;
      font-size: 0.9rem;
      margin: 0px;
      margin-bottom: 0.3333rem;
    }

    p {
      color: $gray-dark;
      font-size: 0.6rem;
      line-height: 2;
    }
  }
}

.lpma2018-purchase {
  h2 {
    color: $gray-dark;
    font-size: 2.2222rem;
    text-transform: uppercase;
    font-family: "DomaineSansMedium",Helvetica, Arial, sans-serif;
    margin-bottom: 2rem;
  }

  p {
    color: $gray-dark;
    margin-bottom: 1rem;
  }

  .tickets {
    padding-top: 2rem;

    .ticket-item {
      @media screen and (min-width: 769px) {
        padding: 1rem;
      }

      .ticket-cont {
        box-shadow: 0 9px 21px 1px rgba(0, 0, 0, 0.23);
        background-color: $white;
        padding: 1rem;
        text-align: center;

        @media screen and (min-width: 769px) {
          margin-top: 3rem;
          padding-top: 3rem;
        }

        span.fa {
          font-size: 3rem;
          color: $gray-dark;
          margin-bottom: 1.5rem;
        }

        h2 {
          font-size: 2rem;
          color: $primary-color;
        }

        p.price {
          font-size: 2.5rem;
          color: $gray-dark;
        }

        p.text {
          font-size: 1rem;
          color: $gray-dark;
        }

        hr {
          background-color: #979797;
          margin: 2rem auto;
          width: 75%;
        }

        button {
          margin: 0.5rem;
        }
      }

      &.primary {
        .ticket-cont {
          background-color: $primary-color;
          margin-top: 0rem;

          h2 {
            color: $white;
          }

          p.price {
            color: $white;
          }

          p.text {
            color: $white;
          }

          hr {
            background-color: $white;
          }
        }
      }
    }
  }
}

.lpma2018-awards {
  background-color: $secondary-color;

  h2 {
    color: $white;
    font-size: 2.2222rem;
    font-family: "DomaineSansMedium",Helvetica, Arial, sans-serif;
    margin-bottom: 1rem;
  }

  p {
    color: $white;
    margin-bottom: 1rem;
  }
}

.lpma2018-venue {
  .container {
    h2 {
      color: $gray-dark;
      font-size: 2.2222rem;
      text-transform: uppercase;
      font-family: "DomaineSansMedium",Helvetica, Arial, sans-serif;
      margin-bottom: 2rem;
    }
  }

  .venue-cont {
    .columns {
      background-color: $white;

      h4 {
        color: $gray-dark;
        font-size: 1.3333rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
        font-weight: 500;
      }

      p {
        color: $gray-dark;
        font-size: 1rem;
        margin-bottom: 1.5rem;
      }

      img {
        margin-top: 2rem;
      }

      button {
        color: $gray-dark;
        margin-bottom: 1rem;
      }
    }
  }
}

.lpma2018-gallery {
  background-color: $white;
  
  h2 {
    color: $gray-dark;
    font-size: 2.2222rem;
    text-transform: uppercase;
    font-family: "DomaineSansMedium",Helvetica, Arial, sans-serif;
    margin-bottom: 2rem;
  }

  p {
    color: $gray-dark;
    margin-bottom: 1rem;
  }
}