.guides {
  padding-top: 0.5rem;

  .container.guides-wrapper {
    background-color: $white;
    padding: 4rem;

    .steps-menu-wrapper {
      & > h3 {
        color: $gray-dark;
        font-size: 1.25rem;
        font-weight: normal;
      }

      ul.steps-menu {
        margin: 0px;

        li {
          background-color: $steps-menu-bg;
          cursor: pointer;
          margin: 0px;
          border-top: 1px solid $white;
          border-bottom: 1px solid $steps-menu-border;

          span {
            color: $gray-dark;
            font-size: 0.75rem;
            font-weight: 500;
            display: inline-block;
            padding: 1rem 1.5rem;
          }

          &.active {
            border-left: 3px solid $primary-color;
          }
        }
      }
    }

    .guide-content {
      padding-left: 4rem;

      & > h1 {
        color: $gray-dark;
        font-weight: 500;
      }

      .markdown {
        border-top: 2px solid $gray-border-darker;
        padding-top: 1rem;
      }
    }
  }

  .steps-navigation {
    padding: 4rem;
    
    .column {
      padding-left: 4rem;

      a {
        span:first-child {
          color: #A5CED2;
          font-size: 0.75rem;
        }

        span:last-child {
          color: $gray-dark;
          font-size: 1rem;
        }

        &:hover {
          span {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .guides {
    .container {
      padding: 3rem 1.5rem;

      .guide-content {
        padding-left: 0.75rem;
      }
    }

    .steps-navigation {
      padding: 3rem 1.5rem;

      .column {
         padding-left: 0.75rem;
      }
    }
  }
}