.pricing-wrapper {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #464F53;
  height: 100vh;
  h1 {
    color: $white;
    font-family: "DomaineSansMedium";
    text-align: center;
    text-transform: uppercase;
    line-height: 1em;
    font-size: 3em;
    letter-spacing: -0.05em;
    margin: 1em 0 0.56em 0;
  }
  
  .pricing-detail {
    display: flex;
    max-width: 60vw;
    flex-direction: column;
    padding: 0 1rem;
    align-items: center;
    justify-content: center;
    background: rgba(247, 247 ,247, 0.27);
    
    .pricing-text {
      display: flex;
      align-items: center;
      .price {
        color: #fff;
        font-size: 4em;
        span {
          font-size: 0.7em;
        }
      }
      .desc {
        display: flex;
        flex-direction: column;
        color: #dbdbdb;
        margin-left: 1em;
        font-size: 1.2em;
      }
    }
    p {
      padding: 0 3em;
      text-align: center;
      color: $white;
      font-size: 1.2em;
      @media screen and (max-width: $mobile-width) {
        padding: 0 2em;
      }
    }
    .terms-container {
      width: 80%;
      .terms-item {
        display: flex;
        align-items: center;
        max-width: 90%;
        margin: 0 auto 1em auto;
        img {
          margin: 0;
          width: 0.8em;
          height: 1em;
        }
        p {
          text-align: left;
          font-size: 0.9em;
          margin: 0;
          padding: 0 1em;
        }
        @media screen and (max-width: $mobile-width) {
          max-width: 100%;
        }
      }
    }
    .submit-btn {
      margin: 2em 0;
      padding: 1em 6em;
      background: #78CC5A;
      color: #fff;
    }
  }
  @media screen and (max-width: $xl-width) {
    .pricing-detail {
      max-width: 60vw;
    }
  }
  @media screen and (max-height: $lg-height) {
    h1 {
      font-size: 1.6em;
    }
    .pricing-detail {
      .pricing-text {
        .price {
          font-size: 2.8em;
        }
        .desc {
          font-size: 0.8em;
        }
      }
      p {
        padding: 0 2em;
        font-size: 0.8em;
      }
      .terms-container {
        .terms-item {
          margin: 0 auto 0.5em auto;
          p {
            font-size: 0.8em;
          }
        }
      }
      .submit-btn {
        margin: 1em 0 2em 0;
      }
    }
  }
  @media screen and (max-width: $mobile-width) {
    .pricing-detail {
      max-width: 90vw;
    }
  }
}

.pricing-enter {
  opacity: 0;
  transform: translateY(100vh);
}
.pricing-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.8s ease-in;
}
.pricing-enter-done {
  opacity: 1;
  transform: translateY(0);
}
.pricing-exit {
  opacity: 1;
  transform: translateY(0);
}
.pricing-exit-active {
  opacity: 0;
  transform: translateY(100vh);
  transition: all 0.8s ease-out;
}
.pricing-exit-done {
  opacity: 0;
  transform: translateY(100vh);
}