.top {
  position: relative;

  .image-wrapper {
    @include cover-image(100%, 750px, center);

    @include mobile {
      @include cover-image(100%, 375px, center);
    }
  }

  .cont-wrapper {
    background-color: rgba(70, 79, 83, 0.7);
    position: absolute;
    width: 50%;
    left: 0rem;
    bottom: 0rem;
    padding: 3rem 1.5rem 2.5rem 2.75rem;

    .cont {
      border-left: 3px solid $primary-color;
      padding-left: 3rem;

      p {
        color: $white;
        font-size: 2.3333rem;
        line-height: normal;
        font-weight: normal;
        margin-bottom: 2rem;
      }
    }
  }

  @include mobile {
    .cont-wrapper {
      background-color: $secondary-color;
      position: static;
      width: 100%;
    }
  }
}