.top {
  position: relative;

  .image-wrapper {
    @include cover-image(100%, 750px, top);

    @media screen and (max-width: 768px) {
      @include cover-image(100%, 375px, top);
    }
  }

  .cont-wrapper {
    background-color: rgba(70, 79, 83, 0.7);
    position: absolute;
    width: 50%;
    left: 0rem;
    bottom: 0rem;
    padding: 3rem 1.5rem 2.5rem 2.75rem;

    .cont {
      border-left: 3px solid $primary-color;
      padding-left: 3rem;

      p {
        color: $white;
        font-size: 2.3333rem;
        line-height: normal;
        font-weight: normal;
        margin-bottom: 2rem;
      }
    }
  }

  .center-cont {
    left: 25%;
    text-align: center;

    .cont {
      border: none;
      padding: 0px;
    }

    .category-and-date {
      color: #9b9b9b;

      span:first-child {
        color: $primary-color;
      }

      span:last-child {
        color: $white;
      }
    }

    .author {
      margin: 2rem 0px 1rem 0px;

      .image.author-avatar {
        border-radius: 50%;
        margin: 0px 0.5rem 0px 0px !important;
        vertical-align: middle;
        display: inline-block;

        img {
          border-radius: 50%;
        }
      }

      .author-name {
        color: $gray-light;
        line-height: 48px;
        vertical-align: middle;
        display: inline-block;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .cont-wrapper {
      background-color: $secondary-color;
      position: static;
      width: 100%;
    }
  }
}